@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

body,
html,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
}
