@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

body,
html,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
}

.floatyThingy {
  top: -132px;
}

.mask {
  clip-path: circle(100px at 90% -10%);
  -webkit-clip-path: circle(100px at 90% -10%);
  transition: all 1s ease-out;
  pointer-events: none;
}

.mask.open {
  clip-path: circle(1000px at 90% -10%);
  -webkit-clip-path: circle(1000px at 90% -10%);
  pointer-events: all;
}